<ion-header>
  <ion-toolbar>
    <ion-title>
      RolaRolé
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>


    <img src="../../assets/images/evento1.jpg">

    <ion-card-content>
      <p>Show de Rock no Pub Music, bandas locais da cidade</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="md-happy"></ion-icon>
          <div>Rola</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="md-close"></ion-icon>
          <div>Não Rola</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11/07/2019 18h
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card>

      <img src="../../assets/images/evento2.jpg">
      
      <ion-card-content>
        <p>Festa Junina da Igreja nossa Senhora de Fatima, Venha a carater</p>
      </ion-card-content>
      
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
              <ion-icon name="md-happy"></ion-icon>
              <div>Rola</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
              <ion-icon name="md-close"></ion-icon>
              <div>Não Rola</div>
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-note>
            23/06/2019   15h
          </ion-note>
        </ion-col>
      </ion-row>
      
      </ion-card>


<ion-card>

<img src="../../assets/images/evento3.jpg">

<ion-card-content>
  <p>Festa na Piscina, organização clube 7 ondas</p>
</ion-card-content>

<ion-row>
  <ion-col>
    <button ion-button icon-start clear small>
        <ion-icon name="md-happy"></ion-icon>
        <div>Rola</div>
    </button>
  </ion-col>
  <ion-col>
    <button ion-button icon-start clear small>
        <ion-icon name="md-close"></ion-icon>
        <div>Não Rola</div>
    </button>
  </ion-col>
  <ion-col align-self-center text-center>
    <ion-note>
      20/08/2019   14h
    </ion-note>
  </ion-col>
</ion-row>

</ion-card>


<ion-card>

    <img src="../../assets/images/evento4.jpg">
    
    <ion-card-content>
      <p>Roda de Samba na Galpão da unidos da União</p>
    </ion-card-content>
    
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
            <ion-icon name="md-happy"></ion-icon>
            <div>Rola</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
            <ion-icon name="md-close"></ion-icon>
            <div>Não Rola</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          05/01/2020   13h
        </ion-note>
      </ion-col>
    </ion-row>
    
    </ion-card>
    

    <ion-card>

        <img src="../../assets/images/evento5.jpg">
        
        <ion-card-content>
          <p>Torneio de Xadres amador da escola professor Agnaldo Gomes, inscrições abertas</p>
        </ion-card-content>
        
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
                <ion-icon name="md-happy"></ion-icon>
                <div>Rola</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
                <ion-icon name="md-close"></ion-icon>
                <div>Não Rola</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              05/08/2019   14h
            </ion-note>
          </ion-col>
        </ion-row>
        
        </ion-card>  
  


</ion-content>