<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager>

    <ion-slide>
      <img src="../../assets/images/img.png">

      <h2>Slide 1</h2>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/slide2.png">

      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/slide3.png">
      <h2>Slide 3</h2>
    </ion-slide>

    <ion-slide>
        <h2>Slide 4</h2>

        <a href="../tab1/tab1.module#Tab1PageModule">CONTINUAR</a>
 
      </ion-slide>
  </ion-slides>

</ion-content>