<ion-header>
  <ion-toolbar>
    <ion-title>RolaRole</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item>
          <ion-input type="text" placeholder="Descrição"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input type="text" placeholder="local"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="date"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input type="time" ></ion-input>
            </ion-item>
  
      </ion-list>
  
  
    <ion-button fill="solid" expand="block" color="dark">CRIAR</ion-button>
  

</ion-content>
